@use "sass:math";
@mixin arc($radius, $start, $end, $width, $style, $colour, $head: 0px) {
    // Clamp the input angles to (-180, 180)
    @while $start < -180deg { $start: $start + 360deg; }
    @while $start > 180deg { $start: $start - 360deg; }
    // @while $end < -180deg { $end: $end + 360deg; }
    // @while $end > 180deg { $end: $end - 360deg; }

    $theta: $end - $start;

    @if $theta < 0deg {
        $theta: $start - $end;
        transform-origin: 0% 0%;
        transform: rotateY(180deg) rotateZ($theta);
    }

    @while $theta > 360deg { $theta: $theta - 360deg; }

    .arc {
        overflow: hidden;
        // background-color: lightblue;
        position: relative;

        border-radius: $width * 2;
        transform-origin: 0% 0%;

        @if $theta <= 90deg {
            width: $radius * (1 - math.cos($theta / 2));
            height: 2 * $radius * math.sin($theta / 2);
            transform: rotateZ($start + $theta / 2) translate(-$radius, -$radius * math.sin($theta / 2) + $width);
        } @else if $theta <= 180deg {
            width: $radius * (1 - math.cos($theta / 2));
            height: 2 * $radius * math.sin($theta / 2) + $width * 2;
            transform: rotateZ($start + $theta / 2) translate(-$radius, -$radius * math.sin($theta / 2));
        } @else {
            width: $radius * (1 - math.cos($theta / 2));
            height: 2 * $radius + 2 * $width;
            transform: rotateZ($start + $theta / 2) translate(-$radius, -$radius);
        }
    }

    .arc::after {
        content: '';
        z-index: 5;
        position: absolute;

        @if $theta <= 90deg {
            top: -$radius * (1 - math.sin($theta / 2)) - $width;
        } @else if $theta <= 180deg {
            top: -$radius * (1 - math.sin($theta / 2));
        } @else {
            top: 0px;
        }

        width: $radius * 2;
        height: $radius * 2;
        border-radius: 50%;
        border: $width $style $colour;
    }

    .head {
        content: '';
        position: absolute;
        width: $head;
        height: $head;
        border-right: $width $style $colour;
        border-bottom: $width $style $colour;

        top: -$radius * math.sin($start);
        left: -$radius * math.cos($start);

        transform-origin: 0% 0%;
        transform: rotateZ(45deg + $start) translate(-$head, -$head);
    }
}