@use "sass:math";
@use "arc";

@mixin line(
    $sourcex,
    $sourcey,
    $targetx,
    $targety,
    $width: 3px,
    $colour: black,
    $style: solid
) {
    content: '';
    $dx: $targetx - $sourcex;
    $dy: $targety - $sourcey;
    $length: math.hypot($dy, $dx);
    width: $length;
    height: 1px;
    position: absolute;
    border: $width $style $colour;
    border-left: none;
    border-top: none;
    border-right: none;
    transform-origin: top left;
    transform: rotate(math.atan2($dy, $dx));
    top: $sourcey;
    left: $sourcex;
    position: absolute;
}

@mixin arrow(
    $sourcex,
    $sourcey,
    $targetx,
    $targety,
    $width: 3px,
    $colour: black,
    $style: solid,
    $filled: false,
    $head: 16px
) {
    $dx: $targetx - $sourcex;
    $dy: $targety - $sourcey;
    $length: math.hypot($dy, $dx);
    $theta: math.atan2($dy, $dx);

    &::after {
        content: '';
        position: absolute;

        height: 0px;
        width: $length;
        border: $width $style $colour;
        border-left: none;
        border-top: none;
        border-right: none;

        transform-origin: bottom left;
        transform: rotate(math.atan2($dy, $dx));
        top: $sourcey;
        left: $sourcex;

        @content;
    }

    &::before {
        content: '';
        position: absolute;

        @if $filled {
            left: $targetx - $head + 1px;
            top: $targety - $head;
            width: 0px;
            height: 0px;
            border: $head solid $colour;
            border-color: transparent transparent transparent $colour;
            transform: rotate(math.atan2($dy, $dx));
        } @else {
            left: $targetx - $head - $width + math.cos($theta) * $width;
            top: $targety - $head - $width + math.sin($theta) * $width;
            width: $head;
            height: $head;
            border: $width solid $colour;
            border-top: none;
            border-left: none;
            transform: rotate($theta - 45deg);
            transform-origin: bottom right;
        }

        @content;
    }
}