$menu-item-height: 50px;

ul.menu {
    display: flex;
    height: $menu-item-height;

    li {
        padding-left: 15px;
        padding-right: 15px;
        list-style-type: none;
        border: 2px solid black;
        position: relative;
        height: $menu-item-height;
    }

    .submenu ul {
        width: 100%;
        position: absolute;
        top: $menu-item-height;
        left: 0px;
        padding: 0px;
        display: inline-flex;
        flex-direction: column;

        li {
            width: 100%;
        }
    }
}

/*
.menu li {
  padding:15px;
  height: 25px;
  list-style-type: none;
  border: 2px solid black;
  width: 200px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.menu .submenu ul {
  width: 100%;
  position: absolute;
  top: 55px;
  left: 0px;
  padding: 0px;
}

.menu .submenu li {
  width: 100%;
  height: 25px;
}
*/