@use "sass:math";
@use "arc";
@use "arrows";
@use "vlsizes";

$cell-size: 100px;
$cell-mercury: 10px;
$unit-mercury: 15px;
$floor: beige;
$pit: violet;
$hover-colour: yellow;
$info-colour: black;

.vlcell {
    display: inline-block;
    width: $cell-size;
    height: $cell-size;
    border: 1px solid black;
    position: relative;

    &:hover .vlsize {
        color: $info-colour;
        -webkit-text-stroke: 2px white;
    }

    &.selectable:hover {
        border: 1px solid $hover-colour;

        & .vlteam {
            border: 3px solid $hover-colour;
            border-radius: 100%;
        }

        & .vlsize {
            cursor: pointer;
        }
        & .vlunit {
            cursor: pointer;
        }
        & .vlteam {
            cursor: pointer;
        }
    }
}

.vlrow {
    line-height: 0px;
}

.vlboard {
    display: inline-block;
    border: 3px solid black;
}

.vlfloor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &.floortrue {
        background-color: $floor;
    }
    &.floorfalse {
        background-color: $pit;
    }
    &.lastsource {
        border: $cell-mercury/2 double #505;
    }
    &.lasttarget {
        border: $cell-mercury/2 double #505;
    }
}

.vlsize {
    font-size: 48pt;
    font-family: monospace;
    z-index: 2;
    position: relative;
    text-align: center;
    top: $cell-size / 2;
    left: $cell-size / 4;
    width: 50%;
    color: transparent;
    cursor: default;
    border-radius: 50%;

    &.piecenull { visibility: hidden; }
}


.vlteam {
    position: absolute;
    top: $cell-mercury;
    left: $cell-mercury;
    right: $cell-mercury;
    bottom: $cell-mercury;
    border-radius: 100%;


    &.teamWHITE {
        background-color: white;

        &.pieceVAMPIRE { @include vlsizes.allSizes(white, red); }
        &.pieceLEPRECHAUN { @include vlsizes.allSizes(white, green); }
        &.pieceHUMAN { @include vlsizes.allSizes(white, blue); }
        &.pieceFAIRY { @include vlsizes.allSizes(white, pink); }
        &.pieceZOMBIE { @include vlsizes.allSizes(white, grey); }
        &.pieceKING { @include vlsizes.allSizes(white, yellow); }
    }
    &.teamBLACK {
        background-color: black;

        &.pieceVAMPIRE { @include vlsizes.allSizes(black, red); }
        &.pieceLEPRECHAUN { @include vlsizes.allSizes(black, green); }
        &.pieceHUMAN { @include vlsizes.allSizes(black, blue); }
        &.pieceFAIRY { @include vlsizes.allSizes(black, pink); }
        &.pieceZOMBIE { @include vlsizes.allSizes(black, grey); }
        &.pieceKING { @include vlsizes.allSizes(black, yellow); }
    }
}

.vlunit {
    position: absolute;
    top: $cell-mercury;
    left: $cell-mercury;
    right: $cell-mercury;
    bottom: $cell-mercury;
    border-radius: 100%;

    &.pieceVAMPIRE {
        background-image: url("/static/sprites/vampire.png");
        background-size: contain;
    }
    &.pieceLEPRECHAUN {
        background-image: url("/static/sprites/leprechaun.png");
        background-size: contain;
    }
    &.pieceHUMAN {
        background-image: url("/static/sprites/human.png");
        background-size: contain;
    }
    &.pieceFAIRY {
        background-image: url("/static/sprites/fairy.png");
        background-size: contain;
    }
    &.pieceZOMBIE {
        background-image: url("/static/sprites/zombie.png");
        background-size: contain;
    }
    &.pieceKING {
        background-image: url("/static/sprites/king.png");
        background-size: contain;
    }
}

/* NOTE: one could use the subclasses to draw an arrow, but it would be quite a bit of css */
.vlaction { display: none; }

.vlresult {
    width: $cell-size;
    height: $cell-size;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 75%;
    &:hover {
        opacity: 100%;
        & .vlfloor { opacity: 75%; }
    }
}

#raference {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: grey;
    float: right;
    margin: 200px;

    $pentagon-radius: 200px;
    $inner-radius: 150px;
    $x-offset: 250px;
    $y-offset: 270px;

    $vampire-center-x: 0px + $x-offset;
    $vampire-center-y: -$pentagon-radius + $y-offset;
    $vampire-handle-x: 0px + $x-offset;
    $vampire-handle-y: -$inner-radius + $y-offset;

    $leprechaun-center-x: math.cos(-18deg) * $pentagon-radius + $x-offset;
    $leprechaun-center-y: math.sin(-18deg) * $pentagon-radius + $y-offset;
    $leprechaun-handle-x: math.cos(-18deg) * $inner-radius + $x-offset;
    $leprechaun-handle-y: math.sin(-18deg) * $inner-radius + $y-offset;

    $fairy-center-x: math.cos(54deg) * $pentagon-radius + $x-offset;
    $fairy-center-y: math.sin(54deg) * $pentagon-radius + $y-offset;
    $fairy-handle-x: math.cos(54deg) * $inner-radius + $x-offset;
    $fairy-handle-y: math.sin(54deg) * $inner-radius + $y-offset;

    $human-center-x: math.cos(126deg) * $pentagon-radius + $x-offset;
    $human-center-y: math.sin(126deg) * $pentagon-radius + $y-offset;
    $human-handle-x: math.cos(126deg) * $inner-radius + $x-offset;
    $human-handle-y: math.sin(126deg) * $inner-radius + $y-offset;

    $zombie-center-x: math.cos(198deg) * $pentagon-radius + $x-offset;
    $zombie-center-y: math.sin(198deg) * $pentagon-radius + $y-offset;
    $zombie-handle-x: math.cos(198deg) * $inner-radius + $x-offset;
    $zombie-handle-y: math.sin(198deg) * $inner-radius + $y-offset;

    #refvampire {
        position: absolute;
        left: $vampire-center-x - 50px;
        top: $vampire-center-y - 50px;

        background-image: url('sprites/vampire.png');
        background-size: contain;
        width: 100px;
        height: 100px;
    }

    #refvampire-beats-zombie {
        position: absolute;
        left: $x-offset;
        top: $y-offset;
        @include arc.arc($pentagon-radius, 32deg, 76deg, 3px, solid, black, 16px);
    }

    #refvampire:hover ~ #refvampire-beats-zombie {
        position: absolute;
        left: $x-offset;
        top: $y-offset;
        @include arc.arc($pentagon-radius, 32deg, 76deg, 3px, solid, blue, 16px);
    }

    #refvampire:hover ~ #refleprechaun-beats-vampire {
        position: absolute;
        left: $x-offset;
        top: $y-offset;
        @include arc.arc($pentagon-radius, 104deg, 148deg, 3px, solid, red, 16px);
    }

    #refleprechaun {
        position: absolute;
        left: $leprechaun-center-x - 50px;
        top: $leprechaun-center-y - 50px;

        background-image: url('sprites/leprechaun.png');
        background-size: contain;
        width: 100px;
        height: 100px;
    }

    #refleprechaun-beats-vampire {
        position: absolute;
        left: $x-offset;
        top: $y-offset;
        @include arc.arc($pentagon-radius, 104deg, 148deg, 3px, solid, black, 16px);
    }

    #refleprechaun:hover ~ #refleprechaun-beats-vampire {
        position: absolute;
        left: $x-offset;
        top: $y-offset;
        @include arc.arc($pentagon-radius, 104deg, 148deg, 3px, solid, blue, 16px);
    }

    #refleprechaun:hover ~ #reffairy-beats-leprechaun {
        position: absolute;
        left: $x-offset;
        top: $y-offset;
        @include arc.arc($pentagon-radius, 176deg, 220deg, 3px, solid, red, 16px);
    }

    #reffairy {
        position: absolute;
        left: $fairy-center-x - 50px;
        top: $fairy-center-y - 50px;

        background-image: url('sprites/fairy.png');
        background-size: contain;
        width: 100px;
        height: 100px;
    }

    #reffairy-beats-leprechaun {
        position: absolute;
        left: $x-offset;
        top: $y-offset;
        @include arc.arc($pentagon-radius, 176deg, 220deg, 3px, solid, black, 16px);
    }

    #reffairy:hover ~ #reffairy-beats-leprechaun {
        position: absolute;
        left: $x-offset;
        top: $y-offset;
        @include arc.arc($pentagon-radius, 176deg, 220deg, 3px, solid, blue, 16px);
    }

    #refhuman {
        position: absolute;
        left: $human-center-x - 50px;
        top: $human-center-y - 50px;

        background-image: url('sprites/human.png');
        background-size: contain;
        width: 100px;
        height: 100px;
    }

    #refhuman-beats-fairy {
        position: absolute;
        left: $x-offset;
        top: $y-offset;
        @include arc.arc($pentagon-radius, 248deg, 292deg, 3px, solid, blue, 16px);
    }

    #refzombie {
        position: absolute;
        left: $zombie-center-x - 50px;
        top: $zombie-center-y - 50px;

        background-image: url('sprites/zombie.png');
        background-size: contain;
        width: 100px;
        height: 100px;
    }

    #refzombie:hover ~ #refvampire-beats-zombie {
        position: absolute;
        left: $x-offset;
        top: $y-offset;
        @include arc.arc($pentagon-radius, 32deg, 76deg, 3px, solid, red, 16px);
    }
}
