@use "sass:math";
@use "arc";

#reference {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: grey;
    float: right;
    margin: 200px;

    $pentagon-radius: 200px;
    // From https://mathworld.wolfram.com/RegularPentagon.html equations R= and x=
    // With help from W|A or https://brownmath.com/alge/nestrad.htm to simplify
    $pentagon-sagitta: ((3 - math.sqrt(5)) / 4) * $pentagon-radius;

    $inner-radius: 150px;
    $x-offset: 250px;
    $y-offset: 250px + $pentagon-sagitta / 2; // Over two since the bottom arrow exists (pure visual adjustment)

    $arrow-sep-theta: 14deg;
    $inner-arrow-theta: 44deg;

    $normal-colour: black;
    $hover-win-colour: blue;
    $hover-lose-colour: red;

    // NOTE: Human/Fairy order is swapped to make arrows aesthetically pleasing
    // TODO: rotate each left by one space so that leprechaun's hat is at the top
    //       NOTE: may require adjusting the ±180 amount for the negatives
    $vampire-theta: -162deg;
    $leprechaun-theta: -90deg;
    $human-theta: 54deg;
    $fairy-theta: -18deg;
    $zombie-theta: 126deg;

    $image-width: 100px;
    $image-height: 100px;

    // Unit images
    #refvampire {
        position: absolute;
        left: math.cos($vampire-theta) * $pentagon-radius + $x-offset - $image-width / 2;
        top: math.sin($vampire-theta) * $pentagon-radius + $y-offset - $image-height / 2;

        background-image: url('sprites/vampire.png');
        background-size: contain;
        width: $image-width;
        height: $image-height;
        z-index: 1;
    }

    #refleprechaun {
        position: absolute;
        left: math.cos($leprechaun-theta) * $pentagon-radius + $x-offset - $image-width / 2;
        top: math.sin($leprechaun-theta) * $pentagon-radius + $y-offset - $image-height / 2;

        background-image: url('sprites/leprechaun.png');
        background-size: contain;
        width: $image-width;
        height: $image-height;
        z-index: 1;
    }

    #refhuman {
        position: absolute;
        left: math.cos($human-theta) * $pentagon-radius + $x-offset - $image-width / 2;
        top: math.sin($human-theta) * $pentagon-radius + $y-offset - $image-height / 2;

        background-image: url('sprites/human.png');
        background-size: contain;
        width: $image-width;
        height: $image-height;
        z-index: 1;
    }

    #reffairy {
        position: absolute;
        left: math.cos($fairy-theta) * $pentagon-radius + $x-offset - $image-width / 2;
        top: math.sin($fairy-theta) * $pentagon-radius + $y-offset - $image-height / 2;

        background-image: url('sprites/fairy.png');
        background-size: contain;
        width: $image-width;
        height: $image-height;
        z-index: 1;
    }

    #refzombie {
        position: absolute;
        left: math.cos($zombie-theta) * $pentagon-radius + $x-offset - $image-width / 2;
        top: math.sin($zombie-theta) * $pentagon-radius + $y-offset - $image-height / 2;

        background-image: url('sprites/zombie.png');
        background-size: contain;
        width: $image-width;
        height: $image-height;
        z-index: 1;
    }

    // Outer circle arrows
    @mixin outer-arrow($start-theta, $end-theta, $colour) {
        position: absolute;
        left: $x-offset;
        top: $y-offset;
        @include arc.arc(
            $pentagon-radius,
            $start-theta + 180deg + $arrow-sep-theta,
            $end-theta + 180deg - $arrow-sep-theta,
            3px, solid, $colour,
            16px
        );
    }

    #refvampire-beats-zombie {
        @include outer-arrow($zombie-theta, $vampire-theta, $normal-colour);
    }
    #refvampire:hover ~ #refvampire-beats-zombie {
        @include outer-arrow($zombie-theta, $vampire-theta, $hover-win-colour);
    }
    #refzombie:hover ~ #refvampire-beats-zombie {
        @include outer-arrow($zombie-theta, $vampire-theta, $hover-lose-colour);
    }

    #refleprechaun-beats-vampire {
        @include outer-arrow($vampire-theta, $leprechaun-theta, $normal-colour);
    }
    #refleprechaun:hover ~ #refleprechaun-beats-vampire {
        @include outer-arrow($vampire-theta, $leprechaun-theta, $hover-win-colour);
    }
    #refvampire:hover ~ #refleprechaun-beats-vampire {
        @include outer-arrow($vampire-theta, $leprechaun-theta, $hover-lose-colour);
    }

    #reffairy-beats-leprechaun {
        @include outer-arrow($leprechaun-theta, $fairy-theta, $normal-colour);
    }
    #reffairy:hover ~ #reffairy-beats-leprechaun {
        @include outer-arrow($leprechaun-theta, $fairy-theta, $hover-win-colour);
    }
    #refleprechaun:hover ~ #reffairy-beats-leprechaun {
        @include outer-arrow($leprechaun-theta, $fairy-theta, $hover-lose-colour);
    }

    #refhuman-beats-fairy {
        @include outer-arrow($fairy-theta, $human-theta, $normal-colour);
    }
    #refhuman:hover ~ #refhuman-beats-fairy {
        @include outer-arrow($fairy-theta, $human-theta, $hover-win-colour);
    }
    #reffairy:hover ~ #refhuman-beats-fairy {
        @include outer-arrow($fairy-theta, $human-theta, $hover-lose-colour);
    }

    #refzombie-beats-human {
        @include outer-arrow($human-theta, $zombie-theta, $normal-colour);
    }
    #refzombie:hover ~ #refzombie-beats-human {
        @include outer-arrow($human-theta, $zombie-theta, $hover-win-colour);
    }
    #refhuman:hover ~ #refzombie-beats-human {
        @include outer-arrow($human-theta, $zombie-theta, $hover-lose-colour);
    }

    // Inner star arrows
    @mixin inner-arrow($start-theta, $end-theta, $colour) {
        position: absolute;
        $halfway-angle: ($start-theta + $end-theta) / 2;
        left: $x-offset + $pentagon-radius * math.cos($halfway-angle) * 1.4;
        top: $y-offset + $pentagon-radius * math.sin($halfway-angle) * 1.4;
        @include arc.arc(
            $pentagon-radius * 2,
            $halfway-angle - $inner-arrow-theta / 2,
            $halfway-angle + $inner-arrow-theta / 2,
            3px, solid, $colour,
            16px
        );
    }

    #refvampire-beats-human {
        @include inner-arrow($leprechaun-theta, $fairy-theta, $normal-colour);
    }
    #refvampire:hover ~ #refvampire-beats-human {
        @include inner-arrow($leprechaun-theta, $fairy-theta, $hover-win-colour);
    }
    #refhuman:hover ~ #refvampire-beats-human {
        @include inner-arrow($leprechaun-theta, $fairy-theta, $hover-lose-colour);
    }

    #refleprechaun-beats-zombie {
        @include inner-arrow($human-theta, $fairy-theta, $normal-colour);
    }
    #refleprechaun:hover ~ #refleprechaun-beats-zombie {
        @include inner-arrow($human-theta, $fairy-theta, $hover-win-colour);
    }
    #refzombie:hover ~ #refleprechaun-beats-zombie {
        @include inner-arrow($human-theta, $fairy-theta, $hover-lose-colour);
    }

    #refhuman-beats-leprechaun { // I don't fully understand why the +360 is necessary, but it is, becoming +180deg within
        @include inner-arrow(360deg + $vampire-theta, $zombie-theta, $normal-colour);
    }
    #refhuman:hover ~ #refhuman-beats-leprechaun {
        @include inner-arrow(360deg + $vampire-theta, $zombie-theta, $hover-win-colour);
    }
    #refleprechaun:hover ~ #refhuman-beats-leprechaun {
        @include inner-arrow(360deg + $vampire-theta, $zombie-theta, $hover-lose-colour);
    }

    #reffairy-beats-vampire {
        @include inner-arrow($human-theta, $zombie-theta, $normal-colour);
    }
    #reffairy:hover ~ #reffairy-beats-vampire {
        @include inner-arrow($human-theta, $zombie-theta, $hover-win-colour);
    }
    #refvampire:hover ~ #reffairy-beats-vampire {
        @include inner-arrow($human-theta, $zombie-theta, $hover-lose-colour);
    }

    #refzombie-beats-fairy {
        @include inner-arrow($vampire-theta, $leprechaun-theta, $normal-colour);
    }
    #refzombie:hover ~ #refzombie-beats-fairy {
        @include inner-arrow($vampire-theta, $leprechaun-theta, $hover-win-colour);
    }
    #reffairy:hover ~ #refzombie-beats-fairy {
        @include inner-arrow($vampire-theta, $leprechaun-theta, $hover-lose-colour);
    }
}