@mixin allSizes($team-colour, $unit-colour) {
    &.size1 {
        box-shadow: 0 0 0 3px $unit-colour;
    }
    &.size2 {
        box-shadow: 0 0 0 3px $unit-colour,
                    0 0 0 3px $team-colour inset,
                    0 0 0 6px $unit-colour inset;
    }
    &.size3 {
        box-shadow: 0 0 0 3px $unit-colour,
                    0 0 0 3px $team-colour inset,
                    0 0 0 6px $unit-colour inset,
                    0 0 0 9px $team-colour inset,
                    0 0 0 12px $unit-colour inset;
    }
    &.size4 {
        box-shadow: 0 0 0 3px $unit-colour,
                    0 0 0 3px $team-colour inset,
                    0 0 0 12px $unit-colour inset;
    }
    &.size5 {
        border-radius: 25%;
        box-shadow: 0 0 0 3px $unit-colour;
    }
    &.size6 {
        border-radius: 25%;
        box-shadow: 0 0 0 3px $unit-colour,
                    0 0 0 3px $team-colour inset,
                    0 0 0 6px $unit-colour inset;
    }
    &.size7 {
        border-radius: 25%;
        box-shadow: 0 0 0 3px $unit-colour,
                    0 0 0 3px $team-colour inset,
                    0 0 0 6px $unit-colour inset,
                    0 0 0 9px $team-colour inset,
                    0 0 0 12px $unit-colour inset;
    }
    &.size8 {
        border-radius: 25%;
        box-shadow: 0 0 0 3px $unit-colour,
                    0 0 0 3px $team-colour inset,
                    0 0 0 12px $unit-colour inset;
    }
}
