@use 'vl';
@use 'vlreference';
@use 'menu';

$background-color: #a000f0;
$active-color: #ffffff;
$hover-color: #bbbbbb;
$default-padding: 20px;

button {
    padding: $default-padding;
    border: none;
    background-color: $active-color;
    margin: 1px;

    &:hover {
        transition-duration: 500ms, 0s, 0s;
        transition-property: background-color, border, padding;

        background-color: $hover-color;
        border: 1px solid black;
        padding: $default-padding - 1px;
    }
}

p {
    background-color: #eee;
}